<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Contactus>
            <version>0.0.1</version>
        </Neo_Contactus>
    </modules>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <Neo_Contactus before="Mage_Contacts">Neo_Contactus</Neo_Contactus>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
    <global>
        <helpers>
            <contactus>
                <class>Neo_Contactus_Helper</class>
            </contactus>
        </helpers>
    </global>
</config>