<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Neo_Affiliate>
			<version>0.0.9</version>
		</Neo_Affiliate>
	</modules>
	<global>
		<events>
            <!--sales_order_place_after>
                <observers>
                    <neo_affiliate_sales_order_observer>
                        <type>singleton</type>
                        <class>neoaffiliate/observer</class>
                        <method>order_place_after</method>
                    </neo_affiliate_sales_order_observer>
                </observers>
            </sales_order_place_after-->
        </events>
		<blocks>
			<neo_affiliate>
        		<class>Neo_Affiliate_Block</class>
      		</neo_affiliate>
		</blocks>
		<helpers>
			<neo_affiliate>
        		<class>Neo_Affiliate_Helper</class>
      		</neo_affiliate>
		</helpers>
		<models>
			<neoaffiliate>
        		<class>Neo_Affiliate_Model</class>
        		<resourceModel>neoaffiliate_mysql4</resourceModel>
      		</neoaffiliate>
      		<neoaffiliate_mysql4>
      			<class>Neo_Affiliate_Model_Mysql4</class>
      			<entities>
      				<affiliate>
      					<table>neo_affiliate</table>
      				</affiliate>
      			</entities>
      		</neoaffiliate_mysql4>
		</models>
		<resources>
			<neoaffiliate_setup>
				<setup>
					<module>Neo_Affiliate</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</neoaffiliate_setup>
			<neoaffiliate_write>
				<connection>
					<use>core_write</use>
				</connection>
			</neoaffiliate_write>
			<neoaffiliate_read>
				<connection>
					<use>core_read</use>
				</connection>
			</neoaffiliate_read>
		</resources>
	</global>
	<crontab>
		<jobs>
			<addtrackingdetails_inaffiliates>
				<schedule><cron_expr>30 4 * * *</cron_expr></schedule>
				<run><model>neoaffiliate/observer::addTrackingDetails</model></run>
			</addtrackingdetails_inaffiliates>
		</jobs>
	</crontab>
	<frontend>
		<!--<layout>
			<updates>
				<neo_affiliate>
					<file>neo_affiliate.xml</file>
				</neo_affiliate>
			</updates>
		</layout>-->
		<events>
			<checkout_type_onepage_save_order_after>
				<observers>
					<neo_repcode>
						<type>model</type>
						<class>neoaffiliate/observer</class>
						<method>checkoutTypeOnepageSaveOrder</method>
					</neo_repcode>
				</observers>
		</checkout_type_onepage_save_order_after>
		</events>
	</frontend>
	<adminhtml>
		<menu>
			<sales>
				<children>
					<manage_affiliate translate="title">
						<title>Manage Affiliate</title>
						<sort_order>20</sort_order>
						<action>adminhtml/manage_affiliate/index</action>
					</manage_affiliate>
				</children>
			</sales>
		</menu>
		<acl>
		  <resources>
			<all>
			  <title>Allow Everything</title>
			</all>
			<admin>
                <children>
                    <sales>
                        <children>
                            <manage_affiliate translate="title" module="neo_affiliate">
                                <title>Manage Affiliates</title>
                                <sort_order>50</sort_order>
                            </manage_affiliate>
                        </children>
                    </sales>
                </children>
            </admin>
		  </resources>
		</acl>
		<!--<layout>
			<updates>
				<neo_affiliate>
					<file>neo_affiliate.xml</file>
				</neo_affiliate>
			</updates>
		</layout>-->
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<neo_affiliate before="Mage_Adminhtml">Neo_Affiliate_Adminhtml</neo_affiliate>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>