<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Customblocks>
      <version>0.1.0</version>
    </Neo_Customblocks>
  </modules>
  <frontend>
    <routers>
      <customblocks>
        <use>standard</use>
          <args>
            <module>Neo_Customblocks</module>
            <frontName>customblocks</frontName>
          </args>
      </customblocks>
    </routers>
		<layout>
		  <updates>
			<customblocks>
			  <file>customblocks.xml</file>
			</customblocks>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customblocks>
        <class>Neo_Customblocks_Helper</class>
      </customblocks>
    </helpers>
	<blocks>
	  <customblocks>
		<class>Neo_Customblocks_Block</class>
	  </customblocks>
	</blocks>
  </global>
</config>