<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Showservicedata>
      <version>0.1.1</version>
    </Neo_Showservicedata>
  </modules>
  <frontend>
    <routers>
      <showservicedata>
        <use>standard</use>
          <args>
            <module>Neo_Showservicedata</module>
            <frontName>showservicelist</frontName>
          </args>
      </showservicedata>
    </routers>
		<layout>
		  <updates>
			<showservicedata>
			  <file>showservicedata.xml</file>
			</showservicedata>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <showservicedata>
        <class>Neo_Showservicedata_Helper</class>
      </showservicedata>
    </helpers>
	<blocks>
	  <showservicedata>
		<class>Neo_Showservicedata_Block</class>
	  </showservicedata>
	</blocks>
  <models>
    <showservicedata>
    <class>Neo_Showservicedata_Model</class>
    <resourceModel>showservicedata_mysql4</resourceModel>
    </showservicedata>
    <showservicedata_mysql4>
    <class>Neo_Showservicedata_Model_Mysql4</class>
    <entities>      
        <servicecentre>
        <table>neo_service_centre</table>
        </servicecentre>
        </entities>
    </showservicedata_mysql4>
  </models>
  <resources>
    <showservicedata_setup>
    <setup>
      <module>Neo_Showservicedata</module>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
    </showservicedata_setup>
    <showservicedata_write>
    <connection>
      <use>core_write</use>
    </connection>
    </showservicedata_write>
    <showservicedata_read>
    <connection>
      <use>core_read</use>
    </connection>
    </showservicedata_read>
  </resources>
  </global>
</config> 