<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Cform>
      <version>0.1.1</version>
    </Neo_Cform>
  </modules>
  <global>
    <helpers>
      <cform>
        <class>Neo_Cform_Helper</class>
      </cform>
    </helpers>
	<blocks>
	  <cform>
		<class>Neo_Cform_Block</class>
	  </cform>
	</blocks>
	<models>
	  <cform>
		<class>Neo_Cform_Model</class>
		<resourceModel>cform_mysql4</resourceModel>
	  </cform>
	  <cform_mysql4>
		<class>Neo_Cform_Model_Mysql4</class>
		<entities>		  
			  <cst>
				<table>neocform</table>
			  </cst>
        </entities>
	  </cform_mysql4>
	</models>
	<events>
		<sales_quote_collect_totals_before>
 		   	<observers>
    			<new_tax>
    				<type>singleton</type>
    				<class>Neo_Cform_Model_Observer</class>
    				<method>newTax</method>
    			</new_tax>
    		</observers>	
    	</sales_quote_collect_totals_before>
    </events>
	<resources>
	  <cform_setup>
		<setup>
		  <module>Neo_Cform</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </cform_setup>
	  <cform_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </cform_write>
	  <cform_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </cform_read>
	</resources>
	<fieldsets>
		<customer_account>
			<cform><create>1</create><update>1</update></cform>
		</customer_account>
	</fieldsets>
  </global>
  <admin>
	<routers>
	  <cform>
	    <use>admin</use>
		<args>
		  <module>Neo_Cform</module>
		  <frontName>admin_cform</frontName>
		</args>
	  </cform>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <cform module="cform">
		<title>Cform</title>
		<sort_order>100</sort_order>
		<children>
		  <cst module="cform">
		    <title>Manage Cst</title>
			<sort_order>0</sort_order>
			<action>admin_cform/adminhtml_cst</action>
		  </cst>
		</children>
	  </cform>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<cform translate="title" module="cform">
			  <title>Cform</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <cst translate="title">
			<title>Manage Cst</title>
			<sort_order>0</sort_order>
		  </cst>
			  </children>
			</cform>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<cform>
		  <file>cform.xml</file>
		</cform>
	  </updates>
	</layout>
  </adminhtml>
</config> 