<config>
	<modules>
		<Neo_Customapiv3>
			<version>0.1.0</version>
		</Neo_Customapiv3>
	</modules>
	<frontend>
		<routers>
			<customapiv3>
				<use>standard</use>
				<args>
					<module>Neo_Customapiv3</module>
					<frontName>customapiv3</frontName>
				</args>
			</customapiv3>
		</routers>
	</frontend>
	<global>
		<models>
			<customapiv3>
				<class>Neo_Customapiv3_Model</class>
			</customapiv3>
		</models>
		<events>
			<customer_register_success>
				<observers>
					<customer_register_success>
						<class>Neo_Customapiv3_Model_Observer</class>
						<method>saveEncodedMd5Token</method>
					</customer_register_success>
				</observers>
			</customer_register_success>
			<adminhtml_customer_prepare_save>
				<observers>
					<adminhtml_customer_prepare_save>
						<class>Neo_Customapiv3_Model_Observer</class>
						<method>saveEncodedMd5Token</method>
					</adminhtml_customer_prepare_save>
				</observers>
			</adminhtml_customer_prepare_save>
		</events>
	</global>
	<!-- <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<neo_api_section module="core">
											<title>Neo Api Setting</title>
										</neo_api_section>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml> -->
</config>
