<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Lenovoprogram>
      <version>0.1.0</version>
    </Neo_Lenovoprogram>
  </modules>
  <frontend>
    <routers>
      <lenovoprogram>
        <use>standard</use>
          <args>
            <module>Neo_Lenovoprogram</module>
            <frontName>lenovoprogram</frontName>
          </args>
      </lenovoprogram>
    </routers>
		<layout>
		  <updates>
			<lenovoprogram>
			  <file>lenovoprogram.xml</file>
			</lenovoprogram>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <lenovoprogram>
        <class>Neo_Lenovoprogram_Helper</class>
      </lenovoprogram>
    </helpers>
	<blocks>
	  <lenovoprogram>
		<class>Neo_Lenovoprogram_Block</class>
	  </lenovoprogram>
	</blocks>
  </global>
</config> 