<!--@subject Coupon Code For First Registration@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.code":"code"}
@-->

<table width="600" cellspacing="0" cellpadding="0" border="0" style=" margin:0 auto;">
    <tr>
        <td>
            <a href="http://www.electronicsbazaar.com" target="_blank">
            	<img src="http://cdn.electronicsbazaar.com/media/emailcampaigns/return-order/images/logo.png">
            </a>
        </td>
    </tr>    
    <tr>
        <td style="font-family:arial; font-size:20px; color:#686868;">
            <p style="margin:15px 0 10px; font-size:20px; color:#686868; font-weight:bold;">Customer Name: {{var data.name}}</p>
        </td>
    </tr>
    <tr>
        <td style="font-family:arial; font-size:20px; color:#686868;">
            <p style="margin:15px 0 10px; font-size:20px; color:#686868; font-weight:bold;">Customer Email: {{var data.email}}</p>
        </td>
    </tr>
    <tr>
        <td style="font-family:arial; font-size:20px; color:#686868;">
            <p style="margin:15px 0 10px; font-size:20px; color:#686868; font-weight:bold;">Coupon Code: {{var data.code}}</p>
        </td>
    </tr>
</table>