 Total number of Partners billed {{var partners}}
<table style="border-top:1px solid #ddd; border-left:1px solid #ddd; margin:10px 0 0 0;">
	<tr>
		<th style="font-weight:bold; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Category</th>
		<th style="font-weight:bold; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Orders</th>
		<th style="font-weight:bold; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Qty Ordered</th>
		<th style="font-weight:bold; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Total Amount (Incl Tax) Rs</th>
		<th style="font-weight:bold; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Discount (Incl Tax) Rs</th>
		<th style="font-weight:bold; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Net Sale (Incl Tax) Rs</th>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Openbox</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openbox_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openbox_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openbox_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openbox_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openbox_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Openbox Grade B</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openboxgradeb_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openboxgradeb_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openboxgradeb_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openboxgradeb_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var openboxgradeb_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">New</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var new_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var new_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var new_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var new_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var new_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Preowned</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var preowned_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var preowned_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var preowned_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var preowned_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var preowned_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Accesories</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var accessories_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var accessories_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var accessories_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var accessories_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var accessories_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Tablets</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var tablets_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var tablets_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var tablets_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var tablets_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var tablets_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Refurbished Mobiles</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedmobiles_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedmobiles_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedmobiles_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedmobiles_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedmobiles_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Refurbished Laptops</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedlaptops_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedlaptops_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedlaptops_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedlaptops_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var refurbishedlaptops_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">ASIS Mobiles</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var asismobiles_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var asismobiles_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var asismobiles_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var asismobiles_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var asismobiles_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Feature Phones</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var featurephones_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var featurephones_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var featurephones_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var featurephones_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var featurephones_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px 35px 0; font-size:small;">VOW Mobiles</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var vow_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var vow_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var vow_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var vow_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var vow_net_sale}}</td>
	</tr>
	<tr>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">Total</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var total_orders}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var total_qty}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var total_price}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var total_discount}}</td>
		<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding: 10px;">{{var total_net_sale}}</td>
	</tr>
</table>