<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Hdfccdl>
      <version>0.1.0</version>
    </Neo_Hdfccdl>
  </modules>
  <global>
    <models>
      <hdfccdl>
        <class>Neo_Hdfccdl_Model</class>
      </hdfccdl>
    </models>
    <helpers>
      <hdfccdl>
        <class>Neo_Hdfccdl_Helper</class>
      </hdfccdl>
    </helpers>
    <blocks>
      <hdfccdl>
        <class>Neo_Hdfccdl_Block</class>
      </hdfccdl>
    </blocks>
    <events>
      <sales_order_place_after>
	<observers>
	  <sales_order_observer>
	    <type>singleton</type>
	    <class>Neo_Hdfccdl_Model_Observer</class>
	    <method>process_hdfc_order_request</method>
	  </sales_order_observer>
	</observers>
      </sales_order_place_after>
    </events>
  </global>
  <default>
    <payment>
      <hdfc_cdl>
        <model>hdfccdl/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>HDFC CDL</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </hdfc_cdl>
    </payment>
  </default>
  <frontend>
    <routers>
      <hdfccdl>
        <use>standard</use>
        <args>
          <module>Neo_Hdfccdl</module>
          <frontName>hdfccdl</frontName>
        </args>
      </hdfccdl>
    </routers>
  </frontend>
</config>