<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Checkout>
      <version>0.0.1</version>
    </Neo_Checkout>
  </modules>
  <global>
	<blocks>
		<checkout>
			<rewrite>
				<cart_sidebar>Neo_Checkout_Block_Cart_Sidebar</cart_sidebar>
			</rewrite>
		</checkout>
	</blocks>
  <models>
    <neo_checkout>
      <class>Neo_Checkout_Model</class>
    </neo_checkout>
    <checkout>
		<rewrite>
			<type_onepage>Neo_Checkout_Model_Type_Onepage</type_onepage>
		</rewrite>
	</checkout>
  </models>
  <events>
    <controller_action_predispatch_opc_index_index>
      <observers>
        <set_pincode>
          <type>singleton</type>
          <class>Neo_Checkout_Model_Observer</class>
          <method>setBlankPincode</method>
        </set_pincode>
      </observers>
    </controller_action_predispatch_opc_index_index>
    <payment_method_is_active>
		<observers>
			<paymentfilter_payment_method_is_active>
				<type>singleton</type>
				<class>Neo_Checkout_Model_Observer</class>
				<method>paymentMethodIsActive</method>
			</paymentfilter_payment_method_is_active>
		</observers>
	</payment_method_is_active>
  </events>
  </global>
  <frontend>
    <routers>
        <checkout>
            <args>
                <modules>
                    <neo_checkout before="Mage_Checkout">Neo_Checkout</neo_checkout>
                </modules>
            </args>
        </checkout>
    </routers>
</frontend>
</config>