<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Offers>
      <version>0.1.0</version>
    </Neo_Offers>
  </modules>
  <global>
    <helpers>
      <offers>
        <class>Neo_Offers_Helper</class>
      </offers>
    </helpers>
	<blocks>
	  <offers>
		<class>Neo_Offers_Block</class>
	  </offers>
	</blocks>
	<models>
	  <offers>
		<class>Neo_Offers_Model</class>
		<resourceModel>offers_mysql4</resourceModel>
	  </offers>
	  <offers_mysql4>
		<class>Neo_Offers_Model_Mysql4</class>
		<entities>		  
			  <offers>
				<table>cashback_offers</table>
			  </offers>
        </entities>
	  </offers_mysql4>
	</models>
	<resources>
	  <offers_setup>
		<setup>
		  <module>Neo_Offers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </offers_setup>
	  <offers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </offers_write>
	  <offers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </offers_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <offers>
	    <use>admin</use>
		<args>
		  <module>Neo_Offers</module>
		  <frontName>offers</frontName>
		</args>
	  </offers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <offers module="offers">
		<title>Offers</title>
		<sort_order>100</sort_order>
		<children>
		  <offers module="offers">
		    <title>Manage Offers</title>
			<sort_order>0</sort_order>
			<action>offers/adminhtml_offers</action>
		  </offers>
		</children>
	  </offers>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<offers translate="title" module="offers">
			  <title>Offers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <offers translate="title">
			<title>Manage Offers</title>
			<sort_order>0</sort_order>
		  </offers>
			  </children>
			</offers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<offers>
		  <file>offers.xml</file>
		</offers>
	  </updates>
	</layout>
  </adminhtml>
</config> 