<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Soapapi>
      <version>0.1.1</version>
    </Neo_Soapapi>
  </modules>
  <global>
    <helpers>
      <soapapi>
        <class>Neo_Soapapi_Helper</class>
      </soapapi>
    </helpers>
	<models>
	  <soapapi>
  		<class>Neo_Soapapi_Model</class>
  		<resourceModel>soapapi_mysql4</resourceModel>
	  </soapapi>
    <soapapi_mysql4>
        <class>Neo_Soapapi_Model_Mysql4</class>
        <entities>      
          <inventoryupdates>
              <table>inventoryupdates</table>
          </inventoryupdates>
        </entities>
      </soapapi_mysql4>
	</models>
  <resources>
    <soapapi_setup>
      <setup>
        <module>Neo_Soapapi</module>
      </setup>
      <connection>
        <use>core_setup</use>
      </connection>
    </soapapi_setup>
    <soapapi_write>
      <connection>
        <use>core_write</use>
      </connection>
    </soapapi_write>
    <soapapi_read>
      <connection>
        <use>core_read</use>
      </connection>
    </soapapi_read>
  </resources>
  </global>
   <api>
        <models>
            <soapapi>
                <!-- ** verify naming convention(?) ** -->
                <class>Neo_Soapapi_Model_Api</class>
            </soapapi>
        </models>
    </api>
</config> 