<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Billdesk>
      <version>0.1.0</version>
    </Neo_Billdesk>
  </modules>
  <global>
    <models>
      <billdesk>
        <class>Neo_Billdesk_Model</class>
      </billdesk>
    </models>
    <helpers>
      <billdesk>
        <class>Neo_Billdesk_Helper</class>
      </billdesk>
    </helpers>
    <blocks>
      <billdesk>
        <class>Neo_Billdesk_Block</class>
      </billdesk>
    </blocks>
    <events>
      <sales_order_place_after>
	<observers>
	  <sales_order_observer>
	    <type>singleton</type>
	    <class>Neo_Billdesk_Model_Observer</class>
	    <method>process_order_response</method>
	  </sales_order_observer>
	</observers>
      </sales_order_place_after>
    </events>
  </global>
  <!-- <crontab>
	<jobs>
		<update_billdesk_status_by_api>
			<schedule>
				<cron_expr>0 11,18 * * *</cron_expr> 
			</schedule>
			<run>
				<model>billdesk/observer::updateBillDeskStatusByApi</model>
			</run>
		</update_billdesk_status_by_api>
	</jobs>
</crontab> -->
  <default>
    <payment>
      <billdesk_ccdc_net>
        <model>billdesk/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Billdesk (Credit/Debit Card or Netbanking)</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </billdesk_ccdc_net>
    </payment>
  </default>
  <frontend>
    <routers>
      <billdesk>
        <use>standard</use>
        <args>
          <module>Neo_Billdesk</module>
          <frontName>billdesk</frontName>
        </args>
      </billdesk>
    </routers>
  </frontend>
</config>