<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Vowdelight>
      <version>0.1.2</version>
    </Neo_Vowdelight>
  </modules>
  <frontend>
    <routers>
      <vowdelight>
        <use>standard</use>
          <args>
            <module>Neo_Vowdelight</module>
            <frontName>vowdelight</frontName>
          </args>
      </vowdelight>
    </routers>
		<layout>
		  <updates>
			<vowdelight>
			  <file>vowdelight.xml</file>
			</vowdelight>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <vowdelight>
        <class>Neo_Vowdelight_Helper</class>
      </vowdelight>
    </helpers>
	<blocks>
	  <vowdelight>
		<class>Neo_Vowdelight_Block</class>
	  </vowdelight>
	</blocks>
	<models>
	  <vowdelight>
		<class>Neo_Vowdelight_Model</class>
		<resourceModel>vowdelight_mysql4</resourceModel>
	  </vowdelight>
	  <vowdelight_mysql4>
		<class>Neo_Vowdelight_Model_Mysql4</class>
		<entities>		  
			  <vowdelight>
				<table>neo_vowdelight</table>
			  </vowdelight>
			  <imeinumbers>
				<table>neo_vowdelight_imei</table>
			  </imeinumbers>
        </entities>
	  </vowdelight_mysql4>
	</models>
	<resources>
	  <vowdelight_setup>
		<setup>
		  <module>Neo_Vowdelight</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </vowdelight_setup>
	  <vowdelight_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </vowdelight_write>
	  <vowdelight_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </vowdelight_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <vowdelight>
	    <use>admin</use>
		<args>
		  <module>Neo_Vowdelight</module>
		  <frontName>admin_vowdelight</frontName>
		</args>
	  </vowdelight>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <vowdelight module="vowdelight">
		<title>Vowdelight</title>
		<sort_order>100</sort_order>
		<children>
		  <vowdelight module="vowdelight">
		    <title>Manage Vowdelight</title>
			<sort_order>0</sort_order>
			<action>admin_vowdelight/adminhtml_vowdelight</action>
		  </vowdelight>
		</children>
	  </vowdelight>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<vowdelight translate="title" module="vowdelight">
			  <title>Vowdelight</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <vowdelightbackend translate="title">
			<title>Vow Delight Page</title>
		  </vowdelightbackend>
		  <vowdelight translate="title">
			<title>Manage Vowdelight</title>
			<sort_order>0</sort_order>
		  </vowdelight>
			  </children>
			</vowdelight>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<vowdelight>
		  <file>vowdelight.xml</file>
		</vowdelight>
	  </updates>
	</layout>
  </adminhtml>
</config> 