<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Trackyourorder>
      <version>0.1.0</version>
    </Neo_Trackyourorder>
  </modules>
  <frontend>
    <routers>
      <trackyourorder>
        <use>standard</use>
          <args>
            <module>Neo_Trackyourorder</module>
            <frontName>trackyourorder</frontName>
          </args>
      </trackyourorder>
    </routers>
		<layout>
		  <updates>
			<trackyourorder>
			  <file>trackyourorder.xml</file>
			</trackyourorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <trackyourorder>
        <class>Neo_Trackyourorder_Helper</class>
      </trackyourorder>
    </helpers>
	<blocks>
	  <trackyourorder>
		<class>Neo_Trackyourorder_Block</class>
	  </trackyourorder>
	</blocks>
  </global>
</config> 