<?xml version="1.0"?>
<config>
  <modules>
    <Neo_CustomAjax>
      <version>0.1.0</version>
    </Neo_CustomAjax>
  </modules>
  <frontend>
    <routers>
      <customajax>
        <use>standard</use>
          <args>
            <module>Neo_CustomAjax</module>
            <frontName>customajax</frontName>
          </args>
      </customajax>
    </routers>
		<layout>
		  <updates>
			<customajax>
			  <file>customajax.xml</file>
			</customajax>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customajax>
        <class>Neo_CustomAjax_Helper</class>
      </customajax>
    </helpers>
	<blocks>
	  <customajax>
		<class>Neo_CustomAjax_Block</class>
	  </customajax>
	</blocks>
  </global>
</config> 