<?xml version="1.0"?>
<config>
  <modules>
    <Neo_IndiaGst>
      <version>0.1.5</version>
    </Neo_IndiaGst>
  </modules>
    <frontend>
    <routers>
      <indiagst>
        <use>standard</use>
          <args>
            <module>Neo_IndiaGst</module>
            <frontName>indiagst</frontName>
          </args>
      </indiagst>
    </routers>
    <layout>
      <updates>
      <indiagst>
        <file>indiagst.xml</file>
      </indiagst>
      </updates>
    </layout>
  </frontend>
   <admin>
      <fieldsets>
          <customer_dataflow>
              <gstin><billing>1</billing><shipping>1</shipping></gstin>
          </customer_dataflow>
      </fieldsets>
  </admin>
  <global>
     <blocks>
        <indiagst>
            <class>Neo_IndiaGst_Block</class>
        </indiagst>
    </blocks>
    <helpers>
      <indiagst>
        <class>Neo_IndiaGst_Helper</class>
      </indiagst>
    </helpers>
    <models>
        <indiagst>
            <class>Neo_IndiaGst_Model</class>
            <resourceModel>indiagst_mysql4</resourceModel>
        </indiagst>
        <indiagst_mysql4>
          <class>Neo_IndiaGst_Model_Mysql4</class>
          <entities>      
              <gstdetails>
                <table>gst_details</table>
              </gstdetails>
          </entities>
        </indiagst_mysql4>
    </models>
    <resources>
        <indiagst_setup>
            <setup>
                <module>Neo_IndiaGst</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </indiagst_setup>
        <indiagst_write>
            <connection>
                <use>core_write</use>
            </connection>
        </indiagst_write>
        <indiagst_read>
            <connection>
                <use>core_read</use>
            </connection>
        </indiagst_read>
    </resources>
    <fieldsets>
        <sales_copy_order_billing_address>
            <gstin><to_order>*</to_order></gstin>
        </sales_copy_order_billing_address>
        <sales_copy_order_shipping_address>
            <gstin><to_order>*</to_order></gstin>
        </sales_copy_order_shipping_address>
        <sales_convert_quote_address>
            <gstin><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></gstin>
        </sales_convert_quote_address>
        <sales_convert_order_address>
            <gstin><to_quote_address>*</to_quote_address></gstin>
        </sales_convert_order_address>
        <customer_address>
            <gstin><to_quote_address>*</to_quote_address></gstin>
        </customer_address>
        <checkout_onepage_billing>
            <gstin><to_customer>*</to_customer></gstin>
        </checkout_onepage_billing>
    </fieldsets>
  </global>
</config> 