<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Quikr>
      <version>0.1.0</version>
    </Neo_Quikr>
  </modules>
  <frontend>
    <routers>
      <quikr>
        <use>standard</use>
          <args>
            <module>Neo_Quikr</module>
            <frontName>quikr</frontName>
          </args>
      </quikr>
    </routers>
		<layout>
		  <updates>
			<quikr>
			  <file>quikr.xml</file>
			</quikr>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <quikr>
        <class>Neo_Quikr_Helper</class>
      </quikr>
    </helpers>
	<blocks>
	  <quikr>
		<class>Neo_Quikr_Block</class>
	  </quikr>
	</blocks>
  </global>
</config> 