<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Career>
            <version>0.1.0</version>
        </Neo_Career>
    </modules>
    <frontend>
        <routers>
            <career>
                <use>standard</use>
                <args>
                    <module>Neo_Career</module>
                    <frontName>careers</frontName>
                </args>
            </career>
        </routers>
        <layout>
            <updates>
                <career>
                    <file>career.xml</file>
                </career>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<career>
				<use>admin</use>
				<args>
					<module>Neo_Career</module>
					<frontName>career</frontName>
				</args>
			</career>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<career module="career">
				<title>Career</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="career">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>career/adminhtml_career</action>
					</items>
				</children>
			</career>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<career translate="title" module="career">
							<title>Career Section</title>
                            <children>
                                <items translate="title" module="career">
                                    <title>Manage Openings</title>
                                    <sort_order>0</sort_order>
                                </items>
                            </children>
						</career>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<career>
					<file>career.xml</file>
				</career>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <career>
                <class>Neo_Career_Model</class>
                <resourceModel>career_mysql4</resourceModel>
            </career>
            <career_mysql4>
                <class>Neo_Career_Model_Mysql4</class>
                <entities>
                    <career>
                        <table>career</table>
                    </career>
                </entities>
            </career_mysql4>
        </models>
        <resources>
            <career_setup>
                <setup>
                    <module>Neo_Career</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </career_setup>
            <career_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </career_write>
            <career_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </career_read>
        </resources>
        <blocks>
            <career>
                <class>Neo_Career_Block</class>
            </career>
        </blocks>
        <helpers>
            <career>
                <class>Neo_Career_Helper</class>
            </career>
        </helpers>
    </global>
</config>