<?xml version="1.0"?>
<config>
  <modules>
    <Neo_CustomBestseller>
      <version>0.1.0</version>
    </Neo_CustomBestseller>
  </modules>
  <global>
    <helpers>
      <custombestseller>
        <class>Neo_CustomBestseller_Helper</class>
      </custombestseller>
    </helpers>
    <blocks>
      <custombestseller>
        <class>Neo_CustomBestseller_Block</class>
      </custombestseller>
    </blocks>
    <models>
    <custombestseller>
    <class>Neo_CustomBestseller_Model</class>
    <resourceModel>custombestseller_mysql4</resourceModel>
    </custombestseller>
  </models>
 <!--  <events>
    <customer_login> 
      <observers>
        <customer_login_handler> 
          <type>model</type> 
          <class>custombestseller/observer</class> 
          <method>loginredirection</method> 
          <args></args>
        </customer_login_handler>
      </observers>
    </customer_login>
  </events> -->
  <resources>
    <categoryattribute1515668496_setup>
    <setup>
      <module>Neo_CustomBestseller</module>
      <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
    </categoryattribute1515668496_setup>
    <categoryattribute1515668496_write>
    <connection>
      <use>core_write</use>
    </connection>
    </categoryattribute1515668496_write>
    <categoryattribute1515668496_read>
    <connection>
      <use>core_read</use>
    </connection>
    </categoryattribute1515668496_read>
  </resources>
  </global>
</config> 