<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Buyback>
      <version>0.1.1</version>
    </Neo_Buyback>
  </modules>
  <frontend>
    <routers>
      <buyback>
        <use>standard</use>
          <args>
            <module>Neo_Buyback</module>
            <frontName>buyback</frontName>
          </args>
      </buyback>
    </routers>
		<layout>
		  <updates>
			<buyback>
			  <file>buyback.xml</file>
			</buyback>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <buyback>
        <class>Neo_Buyback_Helper</class>
      </buyback>
    </helpers>
	<blocks>
	  <buyback>
		<class>Neo_Buyback_Block</class>
	  </buyback>
	</blocks>
	<models>
	  <buyback>
		<class>Neo_Buyback_Model</class>
		<resourceModel>buyback_mysql4</resourceModel>
	  </buyback>
	  <buyback_mysql4>
		<class>Neo_Buyback_Model_Mysql4</class>
		<entities>		  
			  <buyback>
				<table>neo_buyback_paytm</table>
			  </buyback>
        </entities>
	  </buyback_mysql4>
	</models>
	<resources>
	  <buyback_setup>
		<setup>
		  <module>Neo_Buyback</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </buyback_setup>
	  <buyback_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </buyback_write>
	  <buyback_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </buyback_read>
	</resources>
  </global>
</config> 