<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Easyfinance>
      <version>0.1.0</version>
    </Neo_Easyfinance>
  </modules>
  <frontend>
    <routers>
      <easyfinance>
        <use>standard</use>
          <args>
            <module>Neo_Easyfinance</module>
            <frontName>easyfinance</frontName>
          </args>
      </easyfinance>
    </routers>
		<layout>
		  <updates>
			<easyfinance>
			  <file>easyfinance.xml</file>
			</easyfinance>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <easyfinance>
        <class>Neo_Easyfinance_Helper</class>
      </easyfinance>
    </helpers>
	<blocks>
	  <easyfinance>
		<class>Neo_Easyfinance_Block</class>
	  </easyfinance>
	</blocks>
	<models>
	  <easyfinance>
		<class>Neo_Easyfinance_Model</class>
		<resourceModel>easyfinance_mysql4</resourceModel>
	  </easyfinance>
	  <easyfinance_mysql4>
		<class>Neo_Easyfinance_Model_Mysql4</class>
		<entities>		  
			  <easyfinance>
				<table>easy_finance</table>
			  </easyfinance>
        </entities>
	  </easyfinance_mysql4>
	</models>
	<resources>
	  <easyfinance_setup>
		<setup>
		  <module>Neo_Easyfinance</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </easyfinance_setup>
	  <easyfinance_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </easyfinance_write>
	  <easyfinance_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </easyfinance_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <easyfinance>
	    <use>admin</use>
		<args>
		  <module>Neo_Easyfinance</module>
		  <frontName>admin_easyfinance</frontName>
		</args>
	  </easyfinance>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <easyfinance module="easyfinance">
		<title>Easyfinance</title>
		<sort_order>100</sort_order>
		<children>
		  <easyfinance module="easyfinance">
		    <title>Manage Easyfinance</title>
			<sort_order>0</sort_order>
			<action>admin_easyfinance/adminhtml_easyfinance</action>
		  </easyfinance>
		</children>
	  </easyfinance>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<easyfinance translate="title" module="easyfinance">
			  <title>Easyfinance</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <easyfinance translate="title">
			<title>Manage Easyfinance</title>
			<sort_order>0</sort_order>
		  </easyfinance>
			  </children>
			</easyfinance>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<easyfinance>
		  <file>easyfinance.xml</file>
		</easyfinance>
	  </updates>
	</layout>
  </adminhtml>
</config> 