<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Customercatalogpricerule>
      <version>0.1.0</version>
    </Neo_Customercatalogpricerule>
  </modules>
  <global>
    <helpers>
      <customercatalogpricerule>
        <class>Neo_Customercatalogpricerule_Helper</class>
      </customercatalogpricerule>
    </helpers>
	<models>
	  <customercatalogpricerule>
		<class>Neo_Customercatalogpricerule_Model</class>
		<resourceModel>customercatalogpricerule_mysql4</resourceModel>
	  </customercatalogpricerule>
	</models>
	<resources>
	  <customerattribute1472755874_setup>
		<setup>
		  <module>Neo_Customercatalogpricerule</module>
		  <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1472755874_setup>
	  <customerattribute1472755874_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1472755874_write>
	  <customerattribute1472755874_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1472755874_read>
	</resources>
  </global>
</config> 