<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Shippinge>
            <version>0.1.1</version>
        </Neo_Shippinge>
    </modules>
    <global>
        <blocks>
            <shippinge>
                <class>Neo_Shippinge_Block</class>
            </shippinge>
        </blocks>
        <helpers>
            <shippinge>
                <class>Neo_Shippinge_Helper</class>
            </shippinge>
        </helpers>
		<events>
			<sales_order_shipment_save_after>
				<observers>
					<shippinge>
						<type>singleton</type>
						<class>shippinge/observer</class>
						<method>sales_order_shipment_save_after</method>
					</shippinge>
				</observers>
			</sales_order_shipment_save_after>
			<sales_order_invoice_save_after>
				<observers>
					<shippinge>
						<type>singleton</type>
						<class>shippinge/observer</class>
						<method>sales_order_invoice_save_after</method>
					</shippinge>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_save_before>
				<observers>
					<shippinge>
						<type>singleton</type>
						<class>shippinge/observer</class>
						<method>sales_order_save_before</method>
					</shippinge>
				</observers>
			</sales_order_save_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <shippinge>
                        <type>singleton</type>
                        <class>shippinge/observer</class>
                        <method>core_block_abstract_prepare_layout_after</method>
                    </shippinge>
                </observers>
            </core_block_abstract_prepare_layout_after>
		</events>
        <models>
            <shippinge>
                <class>Neo_Shippinge_Model</class>
                <resourceModel>shippinge_mysql4</resourceModel>
            </shippinge>
            <shippinge_mysql4>
                <class>Neo_Shippinge_Model_Mysql4</class>
                <entities>
                    <shippinge>
                        <table>sales_order_track_status</table>
                    </shippinge>
                </entities>
            </shippinge_mysql4>
        </models>
        <resources>
            <shippinge_setup>
                <setup>
                    <module>Neo_Shippinge</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippinge_setup>
            <shippinge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippinge_write>
            <shippinge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippinge_read>
        </resources>
    </global>
    <!--<crontab>
		<jobs>
			<shippinge_updateorderdeliverstatus>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>shippinge/cron::updateOrderDeliverStatus</model></run>
            </shippinge_updateorderdeliverstatus>
        </jobs>
 </crontab>-->
    <adminhtml>
        <layout>
            <updates>
                <shippinge>
                    <file>neo/shippinge.xml</file>
                </shippinge>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Neo_Shippinge before="Mage_Adminhtml">Neo_Shippinge</Neo_Shippinge>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
