<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Multipledeals>
      <version>0.0.1</version>
    </Neo_Multipledeals>
  </modules>
  <global>
	<blocks>
	  <multipledeals>
	    <rewrite>
		<list>Neo_Multipledeals_Block_List</list>
		<adminhtml_multipledeals_edit_tab_settings>Neo_Multipledeals_Block_Adminhtml_Multipledeals_Edit_Tab_Settings</adminhtml_multipledeals_edit_tab_settings>
	    </rewrite>
	  </multipledeals>
	</blocks>
	<models>
		<neo_multipledeals>
			<class>Neo_Multipledeals_Model</class>
		</neo_multipledeals>
		<multipledeals>
			<rewrite>
				<observer>Neo_Multipledeals_Model_Observer</observer>
			</rewrite>
		</multipledeals>
	</models>
	<events>
		<catalog_product_load_after> 
			<observers> 
			  <neo_multipledeals_observer_set_product_view_price> 
				<type>singleton</type> 
				<class>neo_multipledeals/observer</class> 
				<method>getPrice</method> 
			  </neo_multipledeals_observer_set_product_view_price> 
			</observers> 
		  </catalog_product_load_after>
	</events>
  </global>
</config> 
