<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Gadget>
      <version>0.3.3</version>
    </Neo_Gadget>
  </modules>
  <frontend>
    <routers>
      <gadget>
        <use>standard</use>
          <args>
            <module>Neo_Gadget</module>
            <frontName>gadget</frontName>
          </args>
      </gadget>
    </routers>
		<layout>
		  <updates>
			<gadget>
			  <file>gadget.xml</file>
			</gadget>
		  </updates>
		</layout>
		<events>
            <checkout_cart_product_add_after>
                <observers>
                    <neo_gadget_log_cart_add>
                    	<type>singleton</type>
                        <class>gadget/observer</class>  
                        <method>logCartAdd</method> 
                    </neo_gadget_log_cart_add>     
                </observers>
            </checkout_cart_product_add_after>
        </events> 
  </frontend>
  <global>
    <helpers>
      <gadget>
        <class>Neo_Gadget_Helper</class>
      </gadget>
    </helpers>
	<blocks>
	  <gadget>
		<class>Neo_Gadget_Block</class>
	  </gadget>
	</blocks>
	<models>
	  <gadget>
		<class>Neo_Gadget_Model</class>
		<resourceModel>gadget_mysql4</resourceModel>
	  </gadget>
	  <gadget_mysql4>
		<class>Neo_Gadget_Model_Mysql4</class>
		<entities>		  
			  <gadget>
				<table>neo_gadget</table>
			  </gadget>
			  <request>
				<table>neo_gadget_form_submition</table>
			  </request>
			  <other>
				<table>neo_gadget_other</table>
			  </other>
        </entities>
	  </gadget_mysql4>
	</models>
	<resources>
	  <gadget_setup>
		<setup>
		  <module>Neo_Gadget</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </gadget_setup>
	  <gadget_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </gadget_write>
	  <gadget_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </gadget_read>
	</resources>
	<template>
        <email>
            <gadget_gadget_email_template translate="label" module="gadget">
                <label>Gadget Form</label>
                <file>gadget_form.html</file>
                <type>html</type>
            </gadget_gadget_email_template>
        </email>
        <email>
            <gadget_quikr_email_template translate="label" module="gadget">
                <label>Quikr Gadget Form</label>
                <file>quikr_gadget_form.html</file>
                <type>html</type>
            </gadget_quikr_email_template>  
        </email>
    </template>
  </global>
  <admin>
	<routers>
	  <gadget> 
	    <use>admin</use>
		<args>  
		  <module>Neo_Gadget</module>
		  <frontName>admin_gadget</frontName>
		</args>
	  </gadget>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <gadget module="gadget">
		<title>Gadget</title>
		<sort_order>100</sort_order>
		<children>
		  <request module="gadget">
		    <title>Manage Request</title>
			<sort_order>10</sort_order>
			<action>admin_gadget/adminhtml_request</action>
		  </request>
		</children>
	  </gadget>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<gadget translate="title" module="gadget">
			  <title>Gadget</title>
			  <sort_order>1000</sort_order>
			  <children>
			  	<request translate="title" module="gadget">
			  		<title>Manage Request</title>
			  		<sort_order>1000</sort_order>
			  	</request>
			  </children>
			</gadget>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<gadget>
		  <file>gadget.xml</file>
		</gadget>
	  </updates>
	</layout>
  </adminhtml>    
    <crontab>
        <jobs>            
			<gadget_test>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>gadget/cron::test</model></run>
            </gadget_test>
            <gadget>
                <schedule><cron_expr>30 6 * * *</cron_expr></schedule>
                <run><model>gadget/cron::statusupdate</model></run>
            </gadget>
        </jobs>
    </crontab>
</config> 