<?xml version="1.0"?>
<config>
	<modules>
		<neo_socialconnect>
			<version>0.1</version>
		</neo_socialconnect>
	</modules>
	<global>
		<models>
			<socialconnect>
				<rewrite>
					<client>Neo_Socialconnect_Model_Facebook_Client</client>
				</rewrite>
			</socialconnect>
		</models>
	</global>
</config>