<?xml version="1.0"?>
<config>
  <modules >
    <Sunarc_Splitorder>
      <version>0.1.0</version>
    </Sunarc_Splitorder>
  </modules>
    <frontend>
        <layout>
            <updates>
                <splitorder>
                    <file>sunarc/splitorder.xml</file>
                </splitorder>
            </updates>
        </layout>
    </frontend>
  <global>
    <helpers>
      <splitorder>
        <class>Sunarc_Splitorder_Helper</class>
      </splitorder>
    </helpers>
	<models>
	  <splitorder>
		<class>Sunarc_Splitorder_Model</class>
		<resourceModel>splitorder_mysql4</resourceModel>
	  </splitorder>
	</models>
      <events>
          <controller_front_init_before>
              <observers>
                  <sunarc_splitorder_rewrite_classes>
                      <type>model</type>
                      <class>Sunarc_Splitorder_Model_Observer</class>
                      <method>rewriteClasses</method>
                  </sunarc_splitorder_rewrite_classes>
              </observers>
          </controller_front_init_before>
      </events>
  </global>
    <default>
        <ajaxlogin>
            <options>
                <enable>1</enable>
            </options>
        </ajaxlogin>
    </default>
</config> 
