<?xml version="1.0"?>
<config>
	<modules>
		<Neo_Innoviti>
			<version>0.1.0</version>
		</Neo_Innoviti>
	</modules>
	<global>
		<models>
			<innoviti>
				<class>Neo_Innoviti_Model</class>
			</innoviti>
		</models>
		<helpers>
			<innoviti>
				<class>Neo_Innoviti_Helper</class>
			</innoviti>
		</helpers>
		<blocks>
			<innoviti>
				<class>Neo_Innoviti_Block</class>
			</innoviti>
		</blocks>
		<sales>
			<!--<quote>
				<totals>
					<innoviti>
						<after>subtotal,discount,shipping,tax,grand_total</after>
						<class>innoviti/totals_quote</class>
					</innoviti>
				</totals>
		</quote>--> <!-- commented by pradeep -->
			<!--
			<order_invoice>
				<totals>
					<innoviti>
						<class>innoviti/totals_invoice</class>
					</innoviti>
				</totals>
			</order_invoice>
			
			<order_creditmemo>
				<totals>
					<innoviti>
						<class>innoviti/totals_creditmemo</class>
					</innoviti>
				</totals>
			</order_creditmemo>
			-->
		</sales>
		<!--
		<pdf>
			<totals>
				<innoviti>
					<title>Emi Interest</title>
                    <source_field>emi_interest</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>450</sort_order>
                    <model>innoviti/totals_pdf</model>
				</innoviti>
			</totals>
		</pdf> -->
	</global>
	<default>
		<payment>
			<innoviti>
				<model>innoviti/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>Innoviti</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
			</innoviti>
		</payment>
	</default>
	<frontend>
		<routers>
			<innoviti>
				<use>standard</use>
				<args>
					<module>Neo_Innoviti</module>
					<frontName>innoviti</frontName>
				</args>
			</innoviti>
		</routers>
	</frontend>
	<adminhtml>
        <layout>
            <updates>
                <innoviti>
                    <file>innoviti.xml</file>
                </innoviti>
            </updates>
        </layout>
    </adminhtml>
</config>
