<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Neftrtgs>
      <version>0.1.0</version>
    </Neo_Neftrtgs>
  </modules>
  <global>
    <models>
      <neftrtgs>
        <class>Neo_Neftrtgs_Model</class>
      </neftrtgs>
    </models>
    <helpers>
      <neftrtgs>
        <class>Neo_Neftrtgs_Helper</class>
      </neftrtgs>
    </helpers>
    <blocks>
      <neftrtgs>
        <class>Neo_Neftrtgs_Block</class>
      </neftrtgs>
    </blocks>
  </global>
  <default>
    <payment>
      <neftrtgs>
        <model>neftrtgs/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>NEFT/RTGS</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>100</sort_order>
      </neftrtgs>
    </payment>
  </default>
</config>
