<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Ticker>
            <version>0.1.0</version>
        </Neo_Ticker>
    </modules>
    <frontend>
        <routers>
            <ticker>
                <use>standard</use>
                <args>
                    <module>Neo_Ticker</module>
                    <frontName>ticker</frontName>
                </args>
            </ticker>
        </routers>
        <layout>
            <updates>
                <ticker>
                    <file>ticker.xml</file>
                </ticker>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ticker>
				<use>admin</use>
				<args>
					<module>Neo_Ticker</module>
					<frontName>ticker</frontName>
				</args>
			</ticker>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ticker module="ticker">
				<title>Ticker</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="ticker">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>ticker/adminhtml_ticker</action>
					</items>
				</children>
			</ticker>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Neo_Ticker>
							<title>Ticker Module</title>
							<sort_order>10</sort_order>
						</Neo_Ticker>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ticker>
					<file>ticker.xml</file>
				</ticker>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ticker>
                <class>Neo_Ticker_Model</class>
                <resourceModel>ticker_mysql4</resourceModel>
            </ticker>
            <ticker_mysql4>
                <class>Neo_Ticker_Model_Mysql4</class>
                <entities>
                    <ticker>
                        <table>ticker</table>
                    </ticker>
                </entities>
            </ticker_mysql4>
        </models>
        <resources>
            <ticker_setup>
                <setup>
                    <module>Neo_Ticker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ticker_setup>
            <ticker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ticker_write>
            <ticker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ticker_read>
        </resources>
        <blocks>
            <ticker>
                <class>Neo_Ticker_Block</class>
            </ticker>
        </blocks>
        <helpers>
            <ticker>
                <class>Neo_Ticker_Helper</class>
            </ticker>
        </helpers>
    </global>
</config>