<config>
	<modules>
		<Neo_Postcode>
			<version>0.1.0</version>
		</Neo_Postcode>
	</modules>
	<frontend>
    <routers>
      <postcode>
        <use>standard</use>
          <args>
            <module>Neo_Postcode</module>
            <frontName>postcode</frontName>
          </args>
      </postcode>
    </routers>
	</frontend>
	<global>
        <resources>
            <postcode_setup>
                <setup>
                    <module>Neo_Postcode</module>
                    <class>Neo_Postcode_Model_Resource_Setup</class>
                </setup>
            </postcode_setup>
        </resources>
        <blocks>
            <postcode>
                <class>Neo_Postcode_Block</class>
            </postcode>
        </blocks>
        <helpers>
            <postcode>
                <class>Neo_Postcode_Helper</class>
            </postcode>
        </helpers>
        <models>
            <postcode>
                <class>Neo_Postcode_Model</class>
                <resourceModel>postcode_resource</resourceModel>
            </postcode>
            <postcode_resource>
                <class>Neo_Postcode_Model_Resource</class>
                <entities>
                    <postcode>
                        <table>neo_postcode</table>
                    </postcode>
                </entities>
            </postcode_resource>
        </models>
    </global>
    <adminhtml>
		<layout>
			<updates>
				<postcode>
					<file>neo_postcode.xml</file>
				</postcode>
			</updates>
		</layout>
    </adminhtml>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Neo_Postcode before="Mage_Adminhtml">Neo_Postcode_Adminhtml</Neo_Postcode>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
</config>
