<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Ecom>
      <version>0.1.1</version>
    </Neo_Ecom>
  </modules>
  <global>
    <helpers>
      <ecom>
        <class>Neo_Ecom_Helper</class>
      </ecom>
    </helpers>
	<models>
	  <ecom>
		<class>Neo_Ecom_Model</class>
		<resourceModel>ecom_mysql4</resourceModel>
	  </ecom>
	  <ecom_mysql4>
		<class>Neo_Ecom_Model_Mysql4</class>
		<entities>		  
			  <codawb>
				<table>neo_ecom_cod_awb</table>
			  </codawb>		  
			  <ppdawb>
				<table>neo_ecom_ppd_awb</table>
			  </ppdawb>
        </entities>
	  </ecom_mysql4>
	</models>
	<resources>
	  <ecom_setup>
		<setup>
		  <module>Neo_Ecom</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </ecom_setup>
	  <ecom_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </ecom_write>
	  <ecom_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </ecom_read>
	</resources>
  </global>
</config> 