<?xml version="1.0"?>
<config>
    <modules>
        <Neo_AffilateBankTransfer>
            <version>0.1.0</version>
        </Neo_AffilateBankTransfer>
    </modules>
    <global>
        <helpers>
            <affilatebanktransfer>
                <class>Neo_AffilateBankTransfer_Helper</class>
            </affilatebanktransfer>
        </helpers>
        <models>
            <affilatebanktransfer>
                <class>Neo_AffilateBankTransfer_Model</class>
                <resourceModel>affilatebanktransfer_mysql4</resourceModel>
            </affilatebanktransfer>
        </models>
        <events>
            <payment_method_is_active> <!-- identifier of the event we want to catch -->
                <observers>
                    <payment_method_is_active_handler> <!-- identifier of the event handler -->
                        <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
                        <class>Neo_AffilateBankTransfer_Model_Observer</class> <!-- observers class alias -->
                        <method>filterpaymentmethod</method>  <!-- observer's method to be called -->
                        <args></args> <!-- additional arguments passed to observer -->
                    </payment_method_is_active_handler>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
</config> 