<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Supersale>
      <version>0.1.0</version>
    </Neo_Supersale>
  </modules>
  <frontend>
    <routers>
      <supersale>
        <use>standard</use>
          <args>
            <module>Neo_Supersale</module>
            <frontName>supersale</frontName>
          </args>
      </supersale>
    </routers>
		<layout>
		  <updates>
			<supersale>
			  <file>supersale.xml</file>
			</supersale>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <supersale>
        <class>Neo_Supersale_Helper</class>
      </supersale>
    </helpers>
	<blocks>
	  <supersale>
		<class>Neo_Supersale_Block</class>
	  </supersale>
	</blocks>
	<models>
	  <supersale>
		<class>Neo_Supersale_Model</class>
		<resourceModel>supersale_mysql4</resourceModel>
	  </supersale>
	  <supersale_mysql4>
		<class>Neo_Supersale_Model_Mysql4</class>
		<entities>		  
			  <super>
				<table>neo_super_sale</table>
			  </super>
        </entities>
	  </supersale_mysql4>
	</models>
	<resources>
	  <supersale_setup>
		<setup>
		  <module>Neo_Supersale</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </supersale_setup>
	  <supersale_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </supersale_write>
	  <supersale_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </supersale_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <supersale>
	    <use>admin</use>
		<args>
		  <module>Neo_Supersale</module>
		  <frontName>admin_supersale</frontName>
		</args>
	  </supersale>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <supersale module="supersale">
		<title>Supersale</title>
		<sort_order>100</sort_order>
		<children>
		  <super module="supersale">
		    <title>Manage Super</title>
			<sort_order>0</sort_order>
			<action>admin_supersale/adminhtml_super</action>
		  </super>
		</children>
	  </supersale>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<supersale translate="title" module="supersale">
			  <title>Supersale</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <super translate="title">
			<title>Manage Super</title>
			<sort_order>0</sort_order>
		  </super>
			  </children>
			</supersale>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<supersale>
		  <file>supersale.xml</file>
		</supersale>
	  </updates>
	</layout>
  </adminhtml>
</config> 