<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Replace>
            <version>0.1.0</version>
        </Neo_Replace>
    </modules>
    <frontend>
        <routers>
            <replace>
                <use>standard</use>
                <args>
                    <module>Neo_Replace</module>
                    <frontName>replace</frontName>
                </args>
            </replace>
        </routers>
        <layout>
            <updates>
                <replace>
                    <file>replace.xml</file>
                </replace>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<order_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</order_no>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <replace>
                <class>Neo_Replace_Model</class>
                <resourceModel>replace_mysql4</resourceModel>
            </replace>
            <replace_mysql4>
                <class>Neo_Replace_Model_Mysql4</class>
                <entities>
                    <replace>
                        <table>replace</table>
                    </replace>
                </entities>
            </replace_mysql4>
        </models>
        <resources>
            <replace_setup>
                <setup>
                    <module>Neo_Replace</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </replace_setup>
            <replace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </replace_write>
            <replace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </replace_read>
        </resources>
        <blocks>
            <replace>
                <class>Neo_Replace_Block</class>
            </replace>
        </blocks>
        <helpers>
            <replace>
                <class>Neo_Replace_Helper</class>
            </replace>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <neo_replace_model_observer>
                        <class>Neo_Replace_Model_Observer</class>
                        <method>orderPlaceAfter</method>
                    </neo_replace_model_observer>
                </observers>
            </sales_order_place_after>
            <payment_method_is_active> 
                <observers>
                    <payment_method_is_active_handler> 
                        <type>singleton</type> 
                        <class>Neo_Replace_Model_Observer</class> 
                        <method>filterpaymentmethod</method>  
                        <args></args> 
                    </payment_method_is_active_handler>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
    <default>
        <payment>
            <replace>
                <active>1</active>
                <model>replace/replace</model>
                <order_status>processing</order_status>
                <title>Your Order Replacement Payment</title>
                <message>Please Enter Your Order No. For Replacement: #2000-XXXXX</message>
            </replace>
         </payment>
    </default>
</config>