<?xml version="1.0"?>
<config>
  <modules>
    <Neo_ASM>
      <version>0.1.1</version>
    </Neo_ASM>
  </modules>
  <frontend>
    <events>
        <checkout_type_onepage_save_order>
            <observers>
                <asm_armassisting>
                    <type>model</type>
                    <class>asm/observer</class>
                    <method>checkoutTypeOnepageSaveOrder</method>
                </asm_armassisting>
            </observers>
        </checkout_type_onepage_save_order>
    </events>
  </frontend>
  <global>
    <helpers>
      <asm>
        <class>Neo_ASM_Helper</class>
      </asm>
    </helpers>
    <models>
      <asm>
        <class>Neo_ASM_Model</class>
      </asm>
    </models>
    <resources>
      <asm_setup>
      <setup>
        <module>Neo_ASM</module>
      </setup>
      <connection>
        <use>core_setup</use>
      </connection>
      </asm_setup>
      <asm_write>
      <connection>
        <use>core_write</use>
      </connection>
      </asm_write>
      <asm_read>
      <connection>
        <use>core_read</use>
      </connection>
      </asm_read>
    </resources>
  </global>
</config> 