<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Ebpin>
      <version>0.1.0</version>
    </Neo_Ebpin>
  </modules>
  <frontend>
    <routers>
      <ebpin>
        <use>standard</use>
          <args>
            <module>Neo_Ebpin</module>
            <frontName>ebpin</frontName>
          </args>
      </ebpin>
    </routers>
		<layout>
		  <updates>
			<ebpin>
			  <file>ebpin.xml</file>
			</ebpin>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ebpin>
        <class>Neo_Ebpin_Helper</class>
      </ebpin>
    </helpers>
	<blocks>
	  <ebpin>
		<class>Neo_Ebpin_Block</class>
	  </ebpin>
	</blocks>
  </global>
</config> 